<article>
    <header>
      <button aria-label="Close" id="geo-search-close" rel="prev"></button>
      <p>
        <strong>Search census geographies</strong>
      </p>
    </header>
    <input name="q"
           hx-get="/tearsheet/geosearch"
           hx-trigger="keyup delay:500ms changed"
           hx-target="#results"
           hx-select="#results"
           hx-swap="outerHTML"
           hx-indicator="#load-ind"
           {% if q %}
           value="{{ q }}"
           {% else %}
           placeholder="search for Census geographies"
           {% endif %}
           >
    <div id="load-ind" class="htmx-indicator">
      <h3>Searching for geographies ...</h3>
    </div>
    <div id="results">
        {% include 'geo_results.html' %}
    </div>
</article>
