{% extends 'base.html' %}
{% block content %}
<h1>Using <i>tearsheet!</i></h1>
<article>
    <p class="help_text">
    <dfn>tearsheet!</dfn> is a tool for quickly grabbing datapoints from the American Community Survey 
    and other datasets that Data Driven Detroit has compiled. It is designed to make this task as simple
    as possible, but it includes a few tricks to help you achieve more complex data pulls as well.
    </p>
    
    <h2>🌎 Specifying a geography</h2>
    <h3>Basics</h3>
    <p class="help_text">
    In the 'geographies' box, enter the full-length geoid for any Census-style geography. For example, if 
    you wanted data for Michigan, enter `04000US26`. Counties, county subdivisions, tracts, zip codes, are 
    all available. Each of these will be identified by their geoid on a tearsheet. You can enter multiple 
    geoids separated by a comma to get data for all those geographies.
    </p>
    <p>
    If you know what geography that you'd like to look at by name but don't know the geoid, click 'Search 
    geographies' and use the search tool that is provided to find the geography. Once the geography you're 
    interested in comes up, you can click the listed geoid to add it to the field.
    </p>

    <h3>Advanced</h3>
    <p class="help_text">
    Often, it's useful to select all of a smaller geography level falling within a larger geography. This 
    can be done with a specification trick: use the `|` character.
    </p>

    <p class="help_text">
    For example, say you want to get all the zip codes in Detroit, MI. You can do that by starting
    your search with `zips|` then add the for Detroit geoid like normal. Your final search term will 
    look like this:
    </p>
    
    <pre><code class="help_text">
    zips|06000US2616322000
    </code></pre>
    <p class="help_text">
    Then once you click the 'add', all Detroit zip codes will be added to your taresheet.
    </p>

    <p class=help_text>
    Not all sub-geographies are available for each parent geography so you may get an error.
    If you're looking for sub-geographies in a census place (160- geography) and it doesn't work, try
    it's corresponding census county-subdivision (060- geography), or vice-versa. In the future which
    sub-geographies that are available will be displayed on the geography search tool.
    </p>
    
    <h2>📊 Specifying an indicator</h2>
    <h3>Basics</h3>
    <p class="help_text">
    Following the ACS, basic indicators are specified by their ACS variable name. Like the geographies, these are searchable 
    with the tool provided with the button on the right. Same as before, once you've identified the variable that you'd like you
    can click it to add it to the field.
    </p>

    <h4>Search</h4>
    <p class="help_text">
    Clicking the 'Search variables' button brings up the variable search. This search is a work in progress, so here are a few tips
    to help you find the variable you're looking for:
    </p>
    <ul class="help_text">
        <li>Search table codes: Often if you know a table that's close you can search the first few characters of that code to find related variables.</li>
        <li>Try synonyms: The Census uses a specific vocabulary so you may have the wrong term</li>
        <li>Review these guides to locate table codes: <a href="https://sdc.datadrivendetroit.org/topics/">State of the Child: Topics Pages</a></li>
    </ul>
    <p class="help_text">
    Once you find the variable you want, you can click the variable name to add it to the field. Work in progress: This can sometimes cause wacky 
    character inserts!
    </p>


    <h3>Advanced</h3>
    <h4>Aliasing</h4>
    <p class="help_text">
    We don't expect people to remember ACS variable names, and you shouldn't expect your colleagues to remember
    them either. Aliasing is a way to help. To alias a variable, you can follow the same approach as you did with
    the geography. Add the alias then a '|' then you can search for the variable that you're looking for. The final
    spec will look like this:
    </p>

    <pre><code class="help_text">
    total_pop|B01001001
    </code></pre>

    <p class="help_text">
    Now on your final tearsheet, the indicator name will read total_pop and not the unreadable ACS table name. 
    </p>

    <h4>Crisp</h4>
    <p class="help_text">
    <dfn>Crisp</dfn> is a tiny version of Lisp that you can use to make custom indicators using ACS variables. We based
    this on LISP (abbreviation of "list processing") because we found that often making custom ACS indicators, the formulas
    end up being sums of lists of variables somtimes divided by sums of other lists. Lots of lists, so a lisp-like language
    seemed appropriate. This version is stripped down to basics, only able to use ACS variable names as variables, along with 
    numbers. The only operators that are available for Crisp are +, -, *, /, &lt;, &gt;, &le;, &ge;. No other Lisp keywords are 
    available.
    </p>
    <p class="help_text">
    The syntax for writing custom variables is very simple. First, provide an alias. All Crisp-based indicators require one. Then, 
    start your custom indicator with an opening parenthesis '(', then one of the operators listed above. Then put any number of ACS 
    variables separated by spaces, then a closing parenthesis, ')'. The operator that you placed at the first will then be applied 
    cumulatively to all variables.
    </p>
    <pre><code class="help_text">
    pct_under_ten|(/ (+ B01001003 B01001004 B01001027 B01001028) B01001001)
    </code></pre>
    
    <h3>Errors</h3>
    <p class="help_text">
    Tearsheet provides some feedback to help users write correct code, but these are mostly still in development. When they help, 
    great, but if they seem confusing you can ignore them. So long as the code is correct in the geography and indicator boxes, 
    your request should be successful.
    </p>

    <h2>API</h2>
    <p class="help_text">
    All of these features are available to call from the API from whatever tool you'd like. For instance if you're using 
    Python and you'd like to look at unemployment for people under 35, the code would look something like this:
    </p>

    <pre><code class="help_text">
from urllib.parse import quote, unquote
import requests
import pandas as pd


geographies = (
    "tracts|06000US2616322000", # Tracts in Detroit
    "06000US2616322000",        # Detroit overall
    "05000US26163",             # Wayne County
    "04000US26"                 # Michigan
)


indicators = (
    "unemp_16_19|(/ (+ B23001008 B23001094) (+ B23001006 B23001092)),"
    "unemp_20_21|(/ (+ B23001015 B23001101) (+ B23001013 B23001099)),"
    "unemp_22_24|(/ (+ B23001022 B23001108) (+ B23001020 B23001106)),"
    "unemp_25_29|(/ (+ B23001029 B23001115) (+ B23001027 B23001113)),"
    "unemp_30_34|(/ (+ B23001036 B23001122) (+ B23001034 B23001120)),"
)

response = requests.get(
    "https://sdcapi.datadrivendetroit.org/tearsheet/sheet?"
    f"geographies={quote(geographies)}&"
    f"indicators={quote(indicators)}&"
)

df = pd.DataFrame(response.json()).set_index("geoid")
</code></pre>

<h2><em>tearhseet is a work in progress</em></h2>
<p class="help_text">If things break, give it a refresh!</p>
<p class="help_text">Report issues or feature ideas <a href="/tearsheet/feedback">here</a></p>
</article>
{% endblock %}

