{% extends 'base.html' %}
{% block extra_css %} <style>
  input {
    font-size: 1.3em;
    width: 98%;
    height: 2em;
    border-radius: 0.5em;
    padding: 0.5em;
  }

  #data_table {
      width: 100%;
      overflow-x: auto;
  }

  #geo-search {
      align-items: start;
      backdrop-filter: none;
      background: linear-gradient(
          180deg, 
          rgba(0,0,0, 0.75), 
          rgba(0,0,0, 0.5), 3rem, 
          rgba(0, 0, 0, 0), 5rem, 
          rgba(0, 0, 0, 0), 8.5rem, 
          rgba(0, 0, 0, 0.5), 10.5rem, 
          rgba(0,0,0, 0.75));
    }
    
    #var-search {
      align-items: start;
      backdrop-filter: none;
      background: linear-gradient(
          180deg, 
          rgba(0,0,0, 0.75), 
          rgba(0,0,0, 0.5), 7rem, 
          rgba(0, 0, 0, 0), 9rem, 
          rgba(0, 0, 0, 0), 12.5rem, 
          rgba(0, 0, 0, 0.5), 14.5rem, 
          rgba(0,0,0, 0.75));
    }

    dialog article {
        width: 95%;
        max-width: 65rem;
        max-height: calc(95% - 8.8rem);
    }

    #geo-search article {
        margin-top: 9rem;
    }

    #var-search article {
        margin-top: 13rem;
    }

    .result-row {
      border-color: #FFFFFF;
      border-style: solid;
      border-width: 1px;
      border-radius: 0.5em;
      padding: 1em;
      margin-bottom: 1em;
    }

    #results {
      margin-top: 1em;
    }

    .variable-result {
      margin-left: 2em;
    }

    h3 a {
      text-decoration: none;
    }

    .variable-id, .geography-id {
        font-family: courier;
        cursor: pointer;
    }

    .tree ul {
        padding-inline-start: 2em;
        padding-left: 1.5em;
        list-style-type: none;
        margin-bottom: 0;
    }
    
    .tree li {
        list-style-type: none;
        position: relative;
        margin-bottom: 0.5em;
    }

    .tree li::before {
        content: '';
        border-left: 1px solid #555;
        position: absolute;
        top: 0.2em;
        left: -1em;
        bottom: -1.2em;
    }

    .tree li:last-child::before {
        bottom: 0.5em;
    }
    
    #geographies, #indicators {
        flex: 8;
    }

    #var-search-open, #geo-search-open {
        flex: 1.75;
        min-height: 3em;
    }

    #geography-inputs, #indicator-inputs {
        display: flex;
        gap: 1rem;
    }

    .create-tearsheet {
        background-color: gold;
        color: black;
    }

    dialog article {
        padding-top: 0;
    }

    article header {
        position: sticky;
        margin-top: 0;
        top: 0;
        z-index: 1;
    }

    .tooltip {
      position: absolute;
      display: none;
      background: #333;
      color: #fff;
      padding: 8px;
      border-radius: 4px;
      font-size: 14px;
      z-index: 1000;
      max-width: 200px;
      word-wrap: break-word;
    }

    .text-box {
      border: 1px solid #ccc;
      padding: 10px;
      width: 300px;
      font-size: 16px;
    }

</style>
{% endblock %}
{% block content %}
<div id="build-parameters">
    <div id="geography-inputs">
        <input name="geographies"
               id="geographies"
               placeholder="Enter geographies here"></input>
        <button id="geo-search-open">Search geographies</button>
        <dialog id="geo-search">
            {% with q = '', results=[]  %}
                {% include 'geo_search_tool.html' %}
            {% endwith %}
        </dialog>
    </div>
    <div id="indicator-inputs">
        <textarea type="text"
               name="indicators"
               id="indicators"
               hx-get="/tearsheet/validate-program"
               hx-trigger="change delay:500ms changed"
               hx-target="#error-message"
               hx-swap="outerHTML"
               placeholder="Enter indicators here"></textarea>
        <button id="var-search-open">Search variables</button>
        <dialog id="var-search">
            {% with q = '', results=[]  %}
                {% include 'var_search_tool.html' %}
            {% endwith %}
        </dialog>
    </div>
    <input name="how" type="hidden" value="html"></input>
    <div id="table_link">
        <p></p> <!--This is for flexbox-->
        <button class="create-tearsheet"
                hx-post="/tearsheet/sheet"
                hx-indicator="#build_ind"
                hx-params="*"
                hx-target="#data_table"
                hx-select="#data_table"
                hx-include="#build-parameters"
                hx-swap="outerHTML">Create tearsheet</button>
    </div>
</div>
<div id="error-message"></div>
<div id="build_ind" class="htmx-indicator"><p>Preparing tearsheet!</p></div>
<div id="data_table"></div>
<div id="tooltip"></div>
<script>
    // Copy tearsheet table to clipboard
    async function copyTableToClipboard() {
        const table = document.getElementById("data_table");
        const html = table.outerHTML;

        try {
            await navigator.clipboard.write([
                new ClipboardItem({
                    "text/html": new Blob([html], { type: "text/html" }),
                    "text/plain": new Blob([table.innerText], { type: "text/plain" })
                })
            ]);
            alert('Table copied to clipboard!');
        } catch (err) {
            console.error('Failed to copy table: ', err);
        }
    }

    // Needed later for adding variables
    function bracketsOpen(formula) {
        let openCount = 0;

        for (const char of formula) {
            if (char === "(") openCount += 1;
            if (char === ")") openCount -= 1;
        }
        return (openCount != 0);
    }
    
    function attachAddGeographies() {
        const geographies = document.getElementsByClassName("geography-id");
        const geoInput = document.getElementById("geographies"); 

        Array.from(geographies).forEach(
        (elem) => {
            const textContent = elem.textContent;
            if (!elem.hasListener) {
                elem.addEventListener('click', () => {
                    if (!geoInput.value) {
                        geoInput.value = textContent;
                    } else if (geoInput.value.slice(-1) === "|") {
                        geoInput.value += textContent;
                    } else {
                        geoInput.value += ", " + textContent;
                    }
                });
                elem.hasListener = true;
            }
        });
    };

    // Functions to attach event listeners
    function attachAddIndicators() {
        const variables = document.getElementsByClassName("variable-id");
        const varInput = document.getElementById("indicators"); 

        Array.from(variables).forEach(
        (elem) => {
            const textContent = elem.textContent;
            if (!elem.hasListener) {
                elem.addEventListener('click', () => {
                    if (!varInput.value) {
                        varInput.value = textContent;
                    } else if (bracketsOpen(varInput.value)) {
                        varInput.value += " " + textContent;
                    } else if (varInput.value.slice(-1) === "|") {
                        varInput.value += textContent;
                    } else {
                        varInput.value += ", " + textContent;
                    }
                });
                elem.hasListener = true;
            }
        });
    };


    function attachDialogEvents() {
        const varDialog = document.getElementById("var-search");
        const varOpenBtn = document.getElementById("var-search-open");
        const varCloseBtn = document.getElementById("var-search-close");

        if (varOpenBtn && varDialog) {
            varOpenBtn.addEventListener('click', () => {
                varDialog.show();
            });
        }

        if (varCloseBtn && varDialog) {
            varCloseBtn.addEventListener('click', () => {
                window.history.replaceState({}, '', "/tearsheet/");
                varDialog.close();
            });
        }

        const geoDialog = document.getElementById("geo-search");
        const geoOpenBtn = document.getElementById("geo-search-open");
        const geoCloseBtn = document.getElementById("geo-search-close");

        if (geoOpenBtn && geoDialog) {
            geoOpenBtn.addEventListener('click', () => {
                geoDialog.show();
            });
        }

        if (geoCloseBtn && geoDialog) {
            geoCloseBtn.addEventListener('click', () => {
                window.history.replaceState({}, '', "/tearsheet/");
                geoDialog.close();
            });
        }
    };

    // Initial attachment of event listeners
    attachDialogEvents();

    // Listen for htmx content replacement
    document.body.addEventListener('htmx:afterSettle', function(evt) {
        // Reattach event listeners after htmx call settles
        attachDialogEvents();
        attachAddIndicators();
        attachAddGeographies();
    });

    document.body.addEventListener('DOMContentLoaded', function(evt) {
        console.log("history restored");
    });


    // Handling the hover over variable information
    const variableBox = document.getElementById("indicators");
    const tooltip = document.getElementById("tooltip");

    variableBox.addEventListener('click', async (event) => {
        console.log(event);
        // Get the node at the mouse pointer
        const range = document.createRange();
        const position = document.caretPositionFromPoint
            ? document.caretPositionFromPoint(event.clientX, event.clientY)
            : document.caretRangeFromPoint(event.clientX, event.clientY);

        if (position) {
            const node = position.offsetNode;

            if (node && node.nodeName === "TEXTAREA") {
                const indicators = node.value;
                const offset = node.selectionStart;

                // Extract the word under the cursor
                
                const parts = indicators.split("|");

                // 'discount' is the length of the equation name
                // | ignore      |<- count from here
                // indicator_name|Indicator value 
                const discount = parts.slice(0, -1)
                                      .map(x => x.length)
                                      .reduce((x,y) => x + y, 0); // Needs 0!

                const text = parts[parts.length - 1];

                const leftPart = text.slice(0, offset - discount).split(/\s/).pop();
                const rightPart = text.slice(offset - discount).split(/\s/)[0];
                const word = (leftPart + rightPart).replace(/^\W+|\W+$/g, "");

                if (word) {
                    // Update tooltip position
                    tooltip.style.left = `${event.pageX + 10}px`;
                    tooltip.style.top = `${event.pageY + 10}px`;
                    tooltip.style.display = 'block';

                    // Fetch tooltip content if word changes
                    if (tooltip.dataset.currentWord !== word) {
                        tooltip.dataset.currentWord = word;
                        tooltip.innerHTML = 'Loading...'; // Show loading message

                        try {
                            const response = await fetch(`/tearsheet/variables/${encodeURIComponent(word)}`);
                            if (response.ok) {
                                const html = await response.text();
                                tooltip.innerHTML = html;
                            } else {
                                tooltip.innerHTML = `Error: ${response.status}`;
                            }
                        } catch (error) {
                            tooltip.innerHTML = 'Failed to load tooltip.';
                        }
                    }
                }
            }
        }
    });

    variableBox.addEventListener('mouseout', () => {
      tooltip.style.display = 'none';
      tooltip.dataset.currentWord = '';
    });
</script>
{% endblock %}
