{% extends 'base.html' %}
{% block content %}
<form>
    <input name="geographies" placeholder="Enter geographies here"></input>
    <input type="text"
           name="indicators" 
           hx-get="/tearsheet/validate-program"
           hx-trigger="keyup delay:500ms changed"
           hx-target="#error-message"
           hx-swap="innerHTML"
           hx-indicator="#val_ind"
           placeholder="Enter indicators here"></input>
    </div>
    <input name="how" type="hidden" value="html"></input>
    <button hx-post="/tearsheet/sheet"
            hx-indicator="#build_ind"
            hx-params="*"
            hx-target="#data_table"
            hx-select="#data_table"
            hx-swap="outerHTML">Create tearsheet</button>
</form>
<div id="error-message"></div>
<div id="val_ind" class="htmx-indicator"><p>Validating indicators</p></div>
<div id="table_link"></div>
<div id="build_ind" class="htmx-indicator"><p>Preparing tearsheet!</p></div>
<div id="data_table"></div>
{% endblock %}
