{% extends 'base.html' %}
{% block content %}
<div id="data_table">
<table>
    <caption>
        Tearsheet! table
    </caption>
    <thead>
        <tr>
            {% for heading in headings %}
            <th>{{ heading }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in values %}
        <tr>
            <th>{{ row[0] }}</th>
            {% for item in row[1:] %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% if method != 'GET' %}
<div id="table_link" hx-swap-oob="true">
    <p><a href="{{ mapurl }}">view on map</a> download data: <a href="{{ url }}">html</a> <a href="{{ geojsonurl }}">geojson</a></p>
        <button hx-trigger="click" hx-get="/tearsheet/clear" hx-target="#table_link" hx-swap="outerHTML">Clear</button>
        <button class="create-tearsheet"
                hx-post="/tearsheet/sheet"
                hx-indicator="#build_ind"
                hx-params="*"
                hx-target="#data_table"
                hx-select="#data_table"
                hx-include="#build-parameters"
                hx-swap="outerHTML">Refresh</button>
</div>
{% endif %}
{% endblock %}
