{% extends 'base.html' %}
{% block content %}
<div id="data_table">
<table>
    <caption>
        Tearsheet! table
    </caption>
    <thead>
        <tr>
            {% for heading in headings %}
            <th>{{ heading }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in values %}
        <tr>
            <th>{{ row[0] }}</th>
            {% for item in row[1:] %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div id="table_link" hx-swap-oob="true">
    <input id="collapsed_url" type="text" value="{{ url }}" id="table_url" readonly>
    <button onclick="copyLink()">Copy link for spreadsheet</button>
</div>
{% endblock %}
