<article id="search-tool">
    <header>
      <button aria-label="Close" id="var-search-close" rel="prev"></button>
      <p>
        <strong>📊 Search census tables and variables</strong>
      </p>
    </header>
    <input name="q"
           hx-get="/tearsheet/varsearch"
           hx-trigger="keyup delay:500ms changed"
           hx-target="#var-results"
           hx-select="#var-results"
           hx-swap="outerHTML"
           hx-indicator="#load-ind"
           {% if q %}
           value="{{ q }}"
           {% else %}
           placeholder="search the ACS"
           {% endif %}
           >
    <div id="load-ind" class="htmx-indicator">
      <h3>Searching ACS tables ...</h3>
    </div>
    <div id="var-results">
        {% include 'var_results.html' %}
    </div>
</article>
