<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>D3 API login</title>
  <meta name="description" content="Access to D3's metadata portal">
  <meta name="author" content="Data Driven Detroit">

  <meta property="og:title" content="D3 API login">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.datadrivendetroit.org">
  <meta property="og:description" content="Access to D3's metadata portal">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    {% block content %}
    {% endblock content %}
  <script src="js/scripts.js"></script>
</body>
</html>
